@use 'sass/variables' as vars;

$padding-size-range: (
  'sm': vars.$gap-sm,
  'md': vars.$gap-md,
  'lg': vars.$gap-lg,
);

$padding-pos-range: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
);

$padding-orientation-range: (
  'x': (
    'l': 'left',
    'r': 'right',
  ),
  'y': (
    't': 'top',
    'b': 'bottom',
  ),
);

@each $size, $value in $padding-size-range {
  .p-#{$size} {
    padding: $value;
  }

  @each $pos, $prop in $padding-pos-range {
    .p-#{$pos}-#{$size} {
      padding-#{$prop}: $value;
    }
  }

  @each $orientation, $props in $padding-orientation-range {
    .p-#{$orientation}-#{$size} {
      @each $pos, $prop in $props {
        padding-#{$prop}: $value;
      }
    }
  }
}
