VITE_WEBSITE_TITLE=Mercurius
VITE_WEBSITE_IMAGE=https://i.pravatar.cc/32
VITE_WEBSITE_ENABLE_ARTICLES=1
VITE_WEBSITE_ENABLE_BLOG=1
VITE_WEBSITE_ENABLE_PROJECTS=1
VITE_WEBSITE_ENABLE_SERVICES=1
VITE_WEBSITE_ENABLE_CONTACT=1