@use 'sass:color';
@use 'sass:map';
@use 'sass/variables' as vars;

$background: black;
$text: white;

.bg-background {
  background-color: $background;

  @each $color, $value in vars.$color-range {
    &.#{color} {
      background-color: color.adjust($background, $lightness: $value);
    }
  }
}
