@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.tomorrow-thin {
    font-family: "Tomorrow", serif;
    font-weight: 100;
    font-style: normal;
}

.tomorrow-extralight {
    font-family: "Tomorrow", serif;
    font-weight: 200;
    font-style: normal;
}

.tomorrow-light {
    font-family: "Tomorrow", serif;
    font-weight: 300;
    font-style: normal;
}

.tomorrow-regular {
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}

.tomorrow-medium {
    font-family: "Tomorrow", serif;
    font-weight: 500;
    font-style: normal;
}

.tomorrow-semibold {
    font-family: "Tomorrow", serif;
    font-weight: 600;
    font-style: normal;
}

.tomorrow-bold {
    font-family: "Tomorrow", serif;
    font-weight: 700;
    font-style: normal;
}

.tomorrow-extrabold {
    font-family: "Tomorrow", serif;
    font-weight: 800;
    font-style: normal;
}

.tomorrow-black {
    font-family: "Tomorrow", serif;
    font-weight: 900;
    font-style: normal;
}

.tomorrow-thin-italic {
    font-family: "Tomorrow", serif;
    font-weight: 100;
    font-style: italic;
}

.tomorrow-extralight-italic {
    font-family: "Tomorrow", serif;
    font-weight: 200;
    font-style: italic;
}

.tomorrow-light-italic {
    font-family: "Tomorrow", serif;
    font-weight: 300;
    font-style: italic;
}

.tomorrow-regular-italic {
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: italic;
}

.tomorrow-medium-italic {
    font-family: "Tomorrow", serif;
    font-weight: 500;
    font-style: italic;
}

.tomorrow-semibold-italic {
    font-family: "Tomorrow", serif;
    font-weight: 600;
    font-style: italic;
}

.tomorrow-bold-italic {
    font-family: "Tomorrow", serif;
    font-weight: 700;
    font-style: italic;
}

.tomorrow-extrabold-italic {
    font-family: "Tomorrow", serif;
    font-weight: 800;
    font-style: italic;
}

.tomorrow-black-italic {
    font-family: "Tomorrow", serif;
    font-weight: 900;
    font-style: italic;
}
