@forward '@module/bootstrap-icons/font/bootstrap-icons.min.css';
@forward '@module/bootstrap/dist/css/bootstrap.min.css';
@forward '@sass/essentials/scrollbars';
// @forward 'sass/essentials/fonts';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;

  > #app {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    > header {
      flex: 0;
    }

    > main {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }

    > footer {
      flex: 0;
    }
  }
}
