@forward 'modules/bootstrap-icons/font/bootstrap-icons.min.css';

@forward 'sass/essentials/fonts';
@forward 'sass/essentials/scrollbars';

@forward 'sass/composers/colors_compose';
// @forward 'sass/composers/button_anchor';
// @forward 'sass/composers/flex';
// @forward 'sass/composers/padding';

@use 'sass/variables' as vars;

* {
  box-sizing: border-box;
}

body {
  background-color: vars.$body-background;
  color: vars.$body-color;
  font-family: vars.$body-font-family;
  font-size: vars.$body-font-size;

  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;

  > #app {
    flex: 1;
    display: flex;
    flex-direction: column;

    > header {
      flex: 0;
    }

    > nav {
      flex: 0;
    }

    > main {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }

    > footer {
      flex: 0;
    }
  }
}
