section[role='profile-widget'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: vars-gap-medium;

  > .name {
    @extend bs.h4;
    @extend bs.text-body-secondary;
    @extend .m-0;
    order: 0;
  }

  > .photo {
    @extend .rounded-circle;
    max-width: vars-avatar-size-large;
    order: 1;
  }

  > .summary {
    @extend .text-body-secondary;
    text-align: center;
    order: 2;
  }
}

@media (max-width: vars-screen-small) {
  section[role='profile-widget'] {
    flex-direction: row;

    > .name {
      order: 1;
    }

    > .photo {
      order: 0;
      max-width: vars-avatar-size-small;
    }

    > .summary {
      display: none;
    }
  }
}
