section[role='profile-widget'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap-2;

  > .name {
    @extend .h4;
    @extend .text-body-secondary;
    @extend .m-0;
    order: 0;
  }

  > .photo {
    @extend .rounded-circle;
    max-width: $avatar-size-normal;
    order: 1;
  }

  > .summary {
    @extend .text-body-secondary;
    text-align: center;
    order: 2;
  }
}

@media (max-width: $screen-small) {
  section[role='profile-widget'] {
    flex-direction: row;

    > .name {
      order: 1;
    }

    > .photo {
      order: 0;
      max-width: $avatar-size-small;
    }

    > .summary {
      display: none;
    }
  }
}
