.banner-widget {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  background-color: $background;
  padding: $gap-2 $gap-3;
  border-radius: $rounded-2;
  border: 2px groove $secondary;
  box-shadow: 0 0 20px -5px $secondary inset;
  width: 100%;

  > * {
    color: $secondary;
  }
}
