div.layout {
  &.public {
    @extend .position-absolute;
    @extend .h-100;
    @extend .w-100;
    @extend .d-flex;
    @extend .gap-1;

    @extend .flex-column;
    @extend .flex-sm-column;
    @extend .flex-md-column;
    @extend .flex-lg-row;
    @extend .flex-xl-row;
    @extend .flex-xxl-row;

    .topbar {
      @extend .d-block;
      @extend .d-sm-block;
      @extend .d-md-block;
      @extend .d-lg-none;
      @extend .d-xl-none;
      @extend .d-xxl-none;
      background-color: $bar-color !important;
    }

    .sidebar {
      @extend .d-none;
      @extend .d-sm-none;
      @extend .d-md-none;
      @extend .d-lg-block;
      @extend .d-xl-block;
      @extend .d-xxl-block;
      @extend .px-3;
      background-color: $bar-color !important;
      max-width: $screenMaxSideBar !important;
    }

    .content {
      @extend .container-fluid;
      @extend .container-sm;
      @extend .flex-grow-1;
    }
  }
}
