@mixin Large {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  display: flex;
  flex-direction: row;

  .topbar {
    display: none;
  }

  .sidebar {
    flex: 1;
    overflow: auto;
    background-color: $bar-color !important;
  }

  .content {
    flex: 4;
    overflow: auto;
  }
}

@mixin Small {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .sidebar {
    display: none;
  }

  .offcanvar-content {
    overflow: auto;
  }

  .topbar {
    flex: 0;
    background-color: $bar-color !important;
  }

  .content {
    flex: 4;
    padding-top: 5px;
    overflow: auto;
  }
}

div.layout {
  &.public {
    // LARGE
    @media screen and (min-width: $screenBreakpoint) {
      @include Large;
    }

    // SMALL
    @media screen and (max-width: $screenBreakpoint) {
      @include Small;
    }

    .sidebar {
      @extend .container-fluid;
    }

    .content {
      @extend .container;
    }
  }
}
