section[role='layout'] {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: vars-gap-small;

  > header {
    @extend .bg-body-secondary;
    flex: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: vars-gap-medium;
    padding: vars-gap-small vars-gap-medium;
  }

  > section {
    flex: 1;
    display: flex;
    padding: vars-gap-small vars-gap-medium;
  }
}
