@media (max-width: vars-screen-small) {
  section[role='layout'] {
    flex-direction: column;

    > header {
      flex-direction: row;
      padding: vars-gap-medium;
      justify-content: space-between;
      align-items: center;
    }
  }
}
