@use "@/styles/variables" as vars;

.home {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  padding-top: vars.$gap-small;

  display: flex;
  flex-direction: column;
  gap: vars.$gap-small;

  > header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: vars.$gap-small;

    > div.photo {
      flex: 0;

      > img {
        border: vars.$img-photo-border;
        max-width: vars.$img-photo-width;
      }
    }

    > div.content {
      flex: 1;

      > h1 {
        margin: 0;
      }

      > h4 {
        margin: 0;
      }

      > p {
        margin: vars.$gap-small 0 0 0;
      }
    }
  }

  > section {
    background-color: green;
  }

  > footer {
    background-color: blue;
  }
}
