:root {
  --color-background: var(--color-zinc-950);

  --color-text: var(--color-yellow-50);
  --color-text-emphasis: var(--color-slate-500);
  --color-text-primary: var(--color-yellow-500);
  --color-text-secondary: var(--color-cyan-500);
  --color-text-asset: var(--color-violet-500);
}
