$background: #000;
$text: #fff;

$colors: (
  "colors": (
    "primary": orange,
    "secondary": cyan,
    "accent": purple,
    "danger": red,
    "success": green,
    "warning": yellow,
    "info": blue,
  ),
  "texts": (
    "primary": #000,
    "secondary": #000,
    "accent": #fff,
    "danger": #fff,
    "success": #fff,
    "warning": #000,
    "info": #fff,
  ),
);
