@use 'sass:color';

$background: black;
$forecolor: #999;

$primary: #18121e;
$primary-dark: color.adjust($primary, $lightness: -10%);
$primary-light: color.adjust($primary, $lightness: 10%);

$secondary: #188bc2;
$secondary-dark: color.adjust($secondary, $lightness: -10%);
$secondary-light: color.adjust($secondary, $lightness: 10%);
