@use 'variables' as vr;

@mixin app-flex {
  display: flex;
  flex-wrap: nowrap;
}

@mixin app-flex-row {
  @include app-flex;
  flex-direction: row;
  gap: vr.$gap-medium;
}

@mixin app-flex-column {
  @include app-flex-row;
  flex-direction: column;
}
