@font-face {
  font-family: 'kode-mono';
  src: url('fonts/kodemono/KodeMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kode-mono';
  src: url('fonts/kodemono/static/KodeMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'kode-mono';
  src: url('fonts/kodemono/static/KodeMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'kode-mono';
  src: url('fonts/kodemono/static/KodeMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'kode-mono';
  src: url('fonts/kodemono/static/KodeMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
