@use 'theme/variables' as var;

body {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;

  > #app {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    > section[role='layout'] {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: hidden;
      gap: var.$gap-medium;
      padding: var.$gap-medium;

      @media (max-width: var.$screen-small) {
        flex-direction: column;
        gap: var.$gap-small;
        padding: var.$gap-small;
      }

      > section[role='header'] {
        flex: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: var.$gap-medium;

        @media (max-width: var.$screen-small) {
          flex-direction: row;
        }
      }

      > section[role='body'] {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var.$gap-medium;

        * {
          flex: 0;
        }
      }
    }
  }
}
