@use 'theme';
@use 'variables';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;

  #app {
    @include theme.appContainer;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: variables.$gap-medium;

    @media (max-width: variables.$screen-small) {
      flex-direction: column;
    }

    section.app-panel {
      flex: 0;
      display: flex;
      flex-wrap: nowrap;
    }

    section.app-content {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
    }
  }
}
