@use "sass:map";
@use "colors" as colors;
@use "variables" as vars;

@mixin main-background-mix {
  $gradient-steps: "";

  @each $percentage, $color in colors.$background-image-colors {
    $gradient-steps: #{$gradient-steps}, #{$color} #{$percentage}#{"%"};
  }

  $gradient: linear-gradient(to bottom, $gradient-steps);

  background-color: map.get(colors.$colors, "dark");
  background-image: $gradient;
}

@mixin main-foreground-mix {
  color: map.get(colors.$colors, "light");
  text-shadow: vars.$text-shadow;
}
