@use "@/styles/colors" as colors;
@use "sass:map";

$screen-medium: 768px;
$screen-small: 576px;

$gap-large: 15px;
$gap-medium: 10px;
$gap-small: 5px;

$img-photo-border: 2px dashed map.get(colors.$colors, "primary");
$img-photo-small: 150px;

$font-size: 14px;
$text-shadow: none;
