$screen-small: 576px;
$screen-large: 992px;

$texture: url(./images/3px-tile.png);

$gap-0: 0px;
$gap-1: 5px;
$gap-2: 10px;
$gap-3: 15px;
$gap-4: 20px;
$gap-5: 25px;

$rounded-0: 0px;
$rounded-1: 3px;
$rounded-2: 6px;
$rounded-3: 9px;
$rounded-4: 12px;
$rounded-5: 15px;

$font-size-xxs: 4px;
$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-xxxl: 32px;
