@import 'bootstrap-icons/font/bootstrap-icons.min';

@import 'colors';
@import 'variables';
@import 'fonts';
@import 'layout';

@import './utils/background.util.scss';
@import './utils/border.util.scss';
@import './utils/icons.util.scss';
@import './utils/scrollbar.util.scss';

* {
  box-sizing: border-box;
  font-family: 'KodeMono', monospace, sans-serif;
}

body {
  background-color: $background;
  color: $forecolor;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  #app {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
