@import 'bootstrap-icons/font/bootstrap-icons.min';
@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
  font-family: 'KodeMono', monospace, sans-serif;
}

body {
  background-color: $background;
  color: $forecolor;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  #app {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    overflow: hidden;
  }
}
