@import 'tailwindcss';
@import './semantics/typography.css';

/* THEME */
@import './themes/ancap.theme.css';

* {
  box-sizing: border-box;
}

body {
  @apply w-screen h-screen;
  @apply m-0 p-0;
  background-color: var(--color-background);
  color: var(--color-text);
}
