::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-background;
}
