@import "../variables.scss";
@import "./small-layout.scss";
@import "./large-layout.scss";

div.layout {
  // LARGE
  @media screen and (min-width: $screenBreakpoint) {
    @include large-layout;
  }

  // SMALL
  @media screen and (max-width: $screenBreakpoint) {
    @include small-layout;
  }

  .sidebar {
    @extend .container-fluid;
  }

  .content {
    @extend .container;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-700;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray-800;
}
