@mixin small-layout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .sidebar {
    display: none;
  }

  .topbar {
    flex: 0;
    background-color: $bar-color !important;
  }

  .content {
    padding-top: 5px;
    flex: 4;
  }
}
