@use 'sass:color';

$scrollbar-size: 6px;
$scrollbar-hover: 5%;
$scrollbar-active: 10%;

$color: black;
$color-hover: #111;
$color-active: #222;

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

::-webkit-scrollbar-track {
  background: $color;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: $color-hover;
  border-radius: 0px;
  border: none;
  cursor: ns-resize;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-active;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: $color-hover $color-active;
}
