@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
