@use "@/styles/colors" as colors;
@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mix;
@use "sass:map";

@mixin body-layout {
  background-color: map.get(colors.$colors, "background");
  color: map.get(colors.$colors, "forecolor");
  font-size: vars.$font-medium;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-shadow: vars.$text-shadow;
  width: 100vw;

  display: flex;
  flex-direction: column;
  gap: vars.$gap-small;

  @include mix.responsive-mix(
    (
      "padding": 0 vars.$screen-padding-large,
    ),
    (
      "padding": 0 vars.$screen-padding-medium,
    ),
    (
      "padding": 0 vars.$screen-padding-small,
      "overflow-y": auto,
      "overflow-x": hidden,
    )
  );
}

@mixin footer-layout {
  flex: 0;
  padding-top: vars.$gap-small;
  font-size: vars.$font-small;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  gap: vars.$gap-small;

  > p {
    margin: 0;
  }

  > p.copyright {
    flex: 1;
    text-wrap: nowrap;
  }
}

@mixin header-layout {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: vars.$gap-small;

  > figure {
    flex: 0;
    margin: 0;

    > img {
      width: vars.$logo-width;
      height: vars.$logo-height;
    }
  }

  > section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: vars.$gap-small;

    > h1,
    > p {
      margin: 0;
    }
  }

  @include mix.responsive-mix(
    (),
    (),
    (
      "flex-direction": column,
    )
  );
}

@mixin nav-layout {
  flex: 0;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: vars.$gap-small;
}

@mixin main-layout {
  padding-bottom: vars.$gap-small;

  @include mix.responsive-mix(
    (
      "overflow-y": auto,
      "flex": 1,
    ),
    (
      "overflow-y": auto,
      "flex": 1,
    ),
    ()
  );
}
