@use "@/styles/variables" as vars;

button,
a.btn {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  gap: vars.$button-gap;
  border-radius: vars.$button-radius;
  padding: vars.$button-padding;

  &.link {
    border-radius: 0;
    padding: 0;
    text-decoration: underline;
  }
}
