button,
.button {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-link;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: vars-gap-small;

  &.secondary {
    @extend .btn-secondary;
  }
}
