@mixin flex-nowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@mixin layout-commons {
  @include flex-nowrap;
  flex: 1;
  overflow: hidden;

  > .header {
    @include flex-nowrap;
    flex: 0;
    flex-direction: row;
    padding: $gap-3;
    gap: $gap-3;
  }

  > .floatbar {
    @include flex-nowrap;
    flex: 0;
  }

  > .sidebar {
    @include flex-nowrap;
    flex: 0;
    padding: $gap-3;
    gap: $gap-3;
  }

  > .body {
    @include flex-nowrap;
    flex: 1;
    padding: $gap-3;
    gap: $gap-3;
  }
}
