section[role='layout'] {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: $gap-1;

  > header {
    @extend .bg-body-secondary;
    flex: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: $gap-2;
    padding: $gap-1 $gap-2;
  }

  > section {
    flex: 1;
    display: flex;
    padding: $gap-1 $gap-2;
  }
}
