$layout-commons-gap: $gap-3;
$layout-commons-padding: $gap-3;

@mixin layout-commons-flex-nowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@mixin layout-commons {
  @include layout-commons-flex-nowrap;
  flex: 1;
  overflow: hidden;

  > .header {
    @include layout-commons-flex-nowrap;
    gap: $layout-commons-gap;
    padding: $layout-commons-padding;
    flex: 0;
    flex-direction: row;
  }

  > .floatbar {
    @include layout-commons-flex-nowrap;
    flex: 0;
  }

  > .sidebar {
    @include layout-commons-flex-nowrap;
    gap: $layout-commons-gap;
    padding: $layout-commons-padding;
    flex: 0;
  }

  > .body {
    @include layout-commons-flex-nowrap;
    gap: $layout-commons-gap;
    padding: $layout-commons-padding;
    flex: 1;
  }
}
