@media (min-width: $screen-large) {
  $padding: 12vw;

  .layout {
    @include layout-commons;
    flex-direction: row;
    padding: 0 $padding 0 $padding;

    > .header,
    > .floatbar {
      display: none;
    }

    > .sidebar {
      border-right: $border;
    }
  }
}
