@forward "@/styles/composer";
@forward "@/styles/tags/button";
@use "@/styles/colors" as colors;
@use "@/styles/mixins" as mix;
@use "@/styles/variables" as vars;

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("@/styles/fonts/Tomorrow-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-family: "Tomorrow", sans-serif;
}

@mixin body-mixin {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: colors.$background;
  color: colors.$text;
  font-size: vars.$font-size-medium;

  display: flex;
  flex-direction: row;

  @include mix.responsive-mixin(
    $large: (),
    $medium: (),
    $small: (
      "overflow-y": auto,
      "overflow-x": hidden,
    )
  );
}

@mixin section-mixin {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: vars.$gap;

  @include mix.responsive-mixin(
    $large: (
      "padding": vars.$padding-large,
    ),
    $medium: (
      "padding": vars.$padding-medium,
    ),
    $small: (
      "padding": vars.$padding-small,
    )
  );
}

@mixin footer-mixin {
  flex: 0;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: vars.$gap;

  > section.message {
    flex: 1;
  }

  > section.contact {
    flex: 0;
  }
}

@mixin main-mixin {
  @include mix.responsive-mixin(
    $large: (
      "overflow-y": auto,
      "flex": 1,
    ),
    $medium: (
      "overflow-y": auto,
      "flex": 1,
    ),
    $small: ()
  );
}

body {
  @include body-mixin;

  > section {
    @include section-mixin;

    > header,
    nav {
      flex: 0;
    }

    > main {
      @include main-mixin;
    }

    > footer {
      @include footer-mixin;
    }
  }
}

::-webkit-scrollbar {
  width: vars.$scrollbar-size;
  height: vars.$scrollbar-size;
}

::-webkit-scrollbar-track {
  background: vars.$scrollbar-color;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: vars.$scrollbar-bar;
  border-radius: 0px;
  border: 1px solid vars.$scrollbar-color;
  cursor: ns-resize;
}

::-webkit-scrollbar-thumb:hover {
  background: vars.$scrollbar-bar-hover;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: vars.$scrollbar-bar-hover vars.$scrollbar-color;
}
