@forward "~/bootstrap-icons/font/bootstrap-icons.min.css";
@forward "@/styles/base/fonts";
@forward "@/styles/base/scrollbars";
@forward "@/styles/base/tags";
@forward "@/styles/composer";

@use "@/styles/colors" as colors;
@use "@/styles/mixins" as mix;
@use "@/styles/variables" as vars;
@use "sass:color";

* {
  box-sizing: border-box;
  font-family: "Tomorrow", sans-serif;
}

@mixin body-mixin {
  background-color: colors.$background;
  color: colors.$text;
  font-size: vars.$font-size-medium;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;

  display: flex;
  flex-direction: row;
}

@mixin section-mixin {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: vars.$main-gap;

  @include mix.responsive-mixin(
    $large: (
      "padding": 0 vars.$container-large,
    ),
    $medium: (
      "padding": 0 vars.$container-medium,
    ),
    $small: (
      "padding": 0 vars.$container-small,
    )
  );
}

@mixin header-mixin {
  flex: 0;
}

@mixin nav-mixin {
}

@mixin main-mixin {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin footer-mixin {
  flex: 0;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  font-size: vars.$font-size-small;
  gap: vars.$main-gap;
  padding: vars.$main-gap;
  background-color: color.adjust(colors.$background, $lightness: colors.$footer-background);
  border-radius: vars.$main-radius vars.$main-radius 0 0;
}

body {
  @include body-mixin;

  > section {
    @include section-mixin;

    > header {
      @include header-mixin;

      > nav {
        @include nav-mixin;
      }
    }

    > main {
      @include main-mixin;
    }

    > footer {
      @include footer-mixin;
    }
  }
}
