@use "sass:map";
@forward "@/styles/fonts";
@forward "@/styles/colors";
@forward "@/styles/tags/buttons";
@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mix;
@forward "@/styles/pages/home";

* {
  box-sizing: border-box;
  font-family: "Tomorrow", sans-serif;
}

body {
  @include mix.body-mix;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  @include mix.responsive-mix(
    (
      "padding": 0 20%,
    ),
    (
      "padding": 0 10%,
    ),
    (
      "padding": 0 10px,
    )
  );
}
