@use "sass:map";

@forward "@/styles/fonts";
@use "@/styles/colors" as colors;
@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mix;

@forward "@/styles/pages/home";

* {
  box-sizing: border-box;
  font-family: "Tomorrow", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  @include mix.main-background-mix;
  @include mix.main-foreground-mix;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  @media (min-width: vars.$screen-medium) {
    padding: 0 20%;
  }

  @media (min-width: vars.$screen-small) and (max-width: vars.$screen-medium) {
    padding: 0 10%;
  }

  @media (max-width: vars.$screen-small) {
    padding: 0 10px;
  }
}
