@use 'bootstrap-icons/font/bootstrap-icons.min';
@use 'variables' as var;

* {
  box-sizing: border-box;
  background-color: var.$primary;
  color: var.$secondary;
  font-family: 'kode-mono', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
