$primary: #111;
$secondary: #999;
$accent: darkgreen;

$avatar-size-small: 30px;
$avatar-size-large: 140px;

$border-size: 1px;
$border-style: solid;
$border-color: $secondary;
$border-radius: 0;

$gap-none: 0;
$gap-small: 5px;
$gap-medium: 10px;
$gap-large: 15px;

$screen-small: 576px;
$screen-large: 992px;
